.toolbar-description{  
    width: 100%;
    margin-top: 35%;
    position: absolute;
    bottom: 0;
    background-color: #FAFAFA;
}

.toolbar-description .description-user-profile{
    width: 100%; 
    height: 14.7%;
    display: flex;
    
}

.description-user-profile img{
    width: 8%;
    height: 8%;
    margin-top: 6%;
    left: 5%;
    margin-left: 10%;
}


.student-info{
    margin-left: 5%;
    width: 90%;
}

.student-info .subject{
    /* semi bold font weight */
    font-weight: 600;    
}

.student-info .status {
    display: flex;
    border-top: 1px solid rgb(61, 55, 55);
    width: 93%;
    color: #5A5A5A;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
}

.status .user-name{
    font-weight: 600;
    width: 70%;
    font-size: 80%;
}
.status .current-time{
    width: 50%;
    font-size: 60%;
    text-align: right;
}


.description-time{
    width: 95%; 
    height: 53.2%; 
    margin-left: 6%;
    margin-top: 2%;
}

.description-time .time{
    display: flex;
}

.description-time .request-date{
    font-weight: 500;
}

.time .from{
    display: flex;
    font-size: 70%;
    
}

.time .to{
    display: flex;
    margin-left: 27%;
    font-size: 70%;
}

.text{
    color: #CAC2FC;
    margin-left: 10%;
}


.input-content{
    width: 90%; 
    height: 80px;
    margin-left: 5%;
    padding-bottom: 15%;
    padding-left: 3.57%;
    border: none;
    border-radius: 4% 4% 4% 4%/ 8% 8% 8% 8%;
    background-color: #D9D9D9;
}

.input-content::placeholder{
    font-size: x-small;
    margin-left: 20px;
}

.toolbar-buttons{
    width: 42%; 
    height: 32.1%; 
    margin-left: 5%;
    font-size: 90%;
    margin-top: 3%;
    padding-bottom: 5%;
}

.approve{
    background-color: #CAC2FC;
}

.decline{
    margin-left: 86%;
    background-color: #EAEAEA;
}
