.toolbar-description {
  width: 100%;
  background-color: #f4f4f4;
}

.addingTitle {
  margin-top: 3.5%;
  margin-left: 5%;
}

.addingTitle input {
  height: 80%;
  border: solid 1px #e4e4e4;
  border-radius: 3px;
  width: 90%;
}

.addingTitle input::placeholder {
  padding-left: 5%;
}

.settingTime {
  height: fit-content;
  font-size: small;
}

.from {
  display: flex;
}

.to {
  display: flex;
}

.settingTime input {
  width: 70%;
  height: 80%;
  border: solid 0.5px #e4e4e4;
  margin-top: 1%;
  margin-left: 5%;
  border-radius: 3px;
}

.inputContent input {
  border: solid 1px #e4e4e4;
  border-radius: 3px;
  background-color: #ffff;
}

.bookingSession {
  background-color: #d4d4d4;
  font-size: small;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3% 10%;
}

.bookingSession:hover {
  background-color: #b4b4b4;
}

.invisible {
  display: none;
}

.buttonRequest {
  width: 100%;
  display: grid;
  margin-top: 3%;
  margin-bottom: 5%;
}
