* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  width: 100%;
}
#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.75;
  width: 100%;
}

:root {
  --title: "Poppins", monospace;
  --content: "DM Sans", sans-serif;
  --primary-color:#eaecee;
  --card-color: #fff;
}

.titleFont {
  font-family: var(--title);
}

.contentFont {
  font-family: var(--content);
}

