.meetingSession {
  width: 100%;
  display: flex;
}

/* Meeting Info Styling: */
.meetingInfo {
  margin-top: 10.7%;
  margin-left: 9.5%;
  padding: 5%;
  width: 55%;
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: #d9d9d9;
  line-height: 1.5;
}

.line {
  display: flex;
  gap: 12%;
}

.title {
  margin-bottom: 4%;
}

.time {
  margin-bottom: 2%;
}

/* input url */

.pictureTitle {
  width: 3%;
}

.buttons {
  display: flex;
  gap: 5%;
  place-items: center;
  width: 100%;
}

button {
    padding: 10%;
    text-align: center;
}

.blueButton{
    background-color: #6AB3E8;
}

.blueButton:hover{
    background-color: #5A9CD6;
}

.buttons input {
  width: 30%;
  padding: 2%;
}

.buttons input::placeholder {
  padding-left: 4%;
  font-size: 80%;
}

.accessToURLs {
  margin-top: 4%;
}


/* Start Buttons */


/*Sessions has not started yet*/
.buttons .textNotice{
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* End Button */

.buttons .endSession {
    background-color: #FB6868;
}

.buttons .endSession:hover {
    background-color: #E85A5A;
}


/* Participants Styling:  */
.meetingParticipants {
  margin-top: 10.7%;
  margin-left: 5%;
  padding: 3%;
  width: 20%;
  border: 1px solid #ccc;
  border-radius: 5%;
  background-color: #d9d9d9;
}

.participant {
  margin-top: 8%;
  display: flex;
  gap: 15%;
  max-width: 80%;
}

.meetingParticipants h2 {
  margin-top: 8%;
  text-align: center;
  margin-bottom: 10%;
}

.participant img {
    width: 14%;
    margin-bottom: 5%;
}
