body {
  margin-top: 20px;
  background-color: #eee;
}

.col-sm-9 {
  color: #000;
}

.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.dropdown-filter {
  width: 100%;
  position: relative;
  margin: 2em;
}

.dropdown-filter * {
  box-sizing: border-box;
}

.select {
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px #332d2d solid;
  border-radius: 0.5em;
  padding: 2%;
  cursor: pointer;
  transition: background 0.3s;
}

.select-clicked {
  border: 2px #332d2d solid;
  box-shadow: 0 0 0.8em #7777;
}

.select:hover {
  background: #fff;
}

.caret {
  transition: 0.3s;
}

.caret-rotate {
  transform: rotate(180deg);
}

.menu {
  list-style: none;
  padding: 0.2em 0.5em;
  background: #fff;
  border: 1px solid;
  box-shadow: 0 0.5em 1em #7777;
  border-radius: 0.5em;
  position: absolute;
  top: 3em;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  opacity: 0;
  display: none;
  transition: 0.2s;
  z-index: 1;
}

.menu li {
  padding: 0.7em 0.5em;
  margin: 0.3em 0;
  border-radius: 0.5em;
  cursor: pointer;
}

.menu li:hover {
  background: #332d2d;
  color: #fff
}

.default-active {
  background: #332d2d;
  color: #fff
}

.menu-open {
  display: block;
  opacity: 1;
}

::selection {
  background-color: var(--card-color);
  background: #17a2b8;
}
.wrapper {
  width: 400px;
  padding: 10%;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  border-radius: calc(0.5rem - 1px);
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.175);
  background-color: var(--card-color);
}
header h2 {
  font-size: 24px;
  font-weight: 600;
}
header p {
  margin-top: 5px;
  font-size: 16px;
}
.price-input {
  width: 100%;
  display: flex;
  margin: 30px 0 35px;
  
}
.price-input .field {
  display: flex;
  width: 100%;
  height: 45px;
  align-items: center;
}
.field input {
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 19px;
  margin-left: 12px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #4f4f4f;
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.price-input .separator {
  width: 130px;
  display: flex;
  font-size: 19px;
  align-items: center;
  justify-content: center;
}
.slider {
  height: 5px;
  position: relative;
  background: #ddd;
  border-radius: 5px;
}
.slider .progress {
  height: 100%;
  left: 25%;
  right: 25%;
  position: absolute;
  border-radius: 5px;
  background: #17a2b8;
}
.range-input {
  position: relative;
}
.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
input[type="range"]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: #17a2b8;
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}
input[type="range"]::-moz-range-thumb {
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 50%;
  background: #17a2b8;
  pointer-events: auto;
  -moz-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

.confirm-range {
  margin: 0 auto;
  margin-top: 10%;
  max-width: fit-content;
  background-color: #3788d8;
  color: #fff;
}

.confirm-range:hover {
  background-color: #89bff4;
}
.search-result-item {
  background-color: var(--card-color);
}

.search-result-item .image {
  max-width: 100%;
}

.search-result-item .info {
  margin-top: 2px;
  font-size: 12px;
  color: #999;
}

.search-result-item .description {
  font-size: 13px;
}

.search-result-item + .search-result-item {
  margin-top: 20px;
}

.search-result-item-heading {
  font-weight: 400;
}

.search-result-item-heading > a {
  color: #555;
}

.search-result-categories > li > a {
  color: #b6b6b6;
  font-weight: 400;
}

.search-result-categories > li > a:hover {
  background-color: #ddd;
  color: #fbfbfbfb;
}

.search-result-categories > li > a > .glyphicon {
  margin-right: 5px;
}

.search-result-categories > li > a > .badge {
  float: right;
}

.search-results-count {
  margin-top: 10px;
}

.search-result-item {
  padding: 20px;
  background-color: #fff;
  margin-top: 3%;
  box-shadow: 2px 15px -3px rgba(0, 0, 0, 0.07),
    0 10px 20px -2px rgba(0, 0, 0, 0.04);
  border-radius: calc(0.5rem - 1px);
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.175);
}

.search-result-item:hover {
  background-color: #93545400;
}

.search-result-item:after,
.search-result-item:before {
  content: " ";
  display: table;
}

.search-result-item:after {
  clear: both;
}

.search-result-item .image-link {
  display: block;
  overflow: hidden;
}
.style-tags {
  width: fit-content;
  height: fit-content;
}

.col-sm-3.text-align-center {
  display: flex;
  color: black;
}

.value3.mt-sm {
  margin-bottom: 0;
}

.col-sm-9 {
  color: #000;
}

.ng-scope {
  margin-top: 3%;
}

.search-container {
  margin-top: 5%;
  margin-bottom: 5%;
  min-width: 100%;
}

.search-result-item .image {
  max-width: 100%;
}

.search-result-item .info {
  margin-top: 2px;
  font-size: 12px;
  color: #999;
}

.search-result-item .description {
  font-size: 13px;
}

.search-result-item + .search-result-item {
  margin-top: 20px;
}

.search-result-item-heading {
  font-weight: 400;
  margin-top: 2%;
  margin-bottom: 2%;
}

.search-result-item-heading > a {
  color: #555;
}

@media (max-width: 767px) {
  .search-result-item .image-link {
    max-height: 200px;
  }
  .dropdown-filter {
    width: 90%;
  }
}

@media (min-width: 768px) {
  .search-result-item-body {
    margin-left: 200px;
  }
  .search-result-item-body {
    margin-left: 200px;
  }
  .search-result-item-heading {
    margin: 0;
  }
  .col-md-9 {
    width: 65%;
  }
}

@media (min-width: 768px) and (max-width: 1140px) {
  .filter.col-md-3.col-md-push-9 .wrapper {
    width: fit-content;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
      rgba(17, 17, 26, 0.05) 0px 8px 32px;
    border-radius: calc(0.5rem - 1px);
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.175);
    background-color: var(--card-color);
  }
  .price-input {
    font-size: medium;
  }
  .field input {
    font-size: medium;
  }
  .search-result-item .image-link {
    /* display: inline-block; */
    margin: auto;
    float: left;
    width: 40%;
    justify-content: center;
  }
  .image-link img {
    width: 170px;
    margin: auto;
  }
  .search-result-item {
    height: 200px;
    width: 95%;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 16px;
    background-color: var(--card-color);
  }

  .search-result-item-body .col-sm-9 {
    width: 65%;
  }
}

@media (min-width: 426px) and (max-width: 767px) {
  .image-link {
    display: block;
    margin: auto;
    justify-content: center;
  }
  .image-link img {
    width: 210px;
  }
  .wrapper {
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
      rgba(17, 17, 26, 0.05) 0px 8px 32px;
    border-radius: calc(0.5rem - 1px);
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.175);
    width: 90%;
    background-color: var(--card-color);
  }
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .search-container .row .col-md-12 {
    width: 100%;
    font-size: x-small;
  }

  .col-md-9.col-md-pull-3 {
  }

  .search-result-item {
    border-radius: 0px;
  }

  .search-result-item-heading {
    margin-top: 5%;
  }

  .image-link {
    width: 40%;
    margin: auto;
    justify-content: center;
  }

  .search-result-item-body .row .description {
    margin-top: 3%;
  }
}

.image {
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  /* height: 160px !important; */
  justify-content: center;
}

.search-result-item .row {
  margin-left: 8%;
}

@media (min-width: 1141px) {
  .search-result-item {
    width: 95%;
  }
  .image-link {
    display: inline-block;
    float: left;
    height: 200px;
    margin: auto;
    justify-content: center;
    width: 40%;
  }
  .image-link img {
    width: 210px;
    margin: auto;
  }
  .search-result-item {
    background-color: var(--card-color);
  }
}
