.register-form {
  height: 100%;
}

.profilePicture {
  max-height: 20vh;
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
  margin: 0 50%;
}

.profile-pic-container {
  width: 50vw;
  display: flex;
  justify-content: center;
}

.login-page11 main .name {
  color: #ffffff;
}

.login-page11 main {
  margin-top: 3%;
  margin-bottom: 3%;
}

.cv {
  max-height: 20vh;
  width: 100%;
  object-fit: cover;
  margin: 0 50%;
}

[type="button"]:hover {
  background-color: #979695;
  color: #ffffff;
}

button {
  background-color: #ffffff;
}

main img {
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .profile-pic-container {
    width: 100vw;
  }

  .login-page11 main {
    margin-bottom: 5%;
  }
  .login-page11 aside {
    display: none;
  }
  .profilePicture,
  .cv {
    margin: 0 40%;
  }
}
