.calendar-summary {
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

.upper-info {
  display: flex;
  border-bottom: solid 1px #000000;
}

#summary-title {
  display: flex;
  gap: 5%;
  padding-left: 2%;
}

#summary-title p {
  display: flex;
  min-width: 100%;
  height: 40%;
  color: #908c8c;
  border-left: solid 1px #9999;
  padding-left: 4%;
  font-size: 50%;
  margin-top: 5%;
  padding-top: 2%;
}

#summary-filters {
  display: flex;
  gap: 5%;
  position: absolute;
  right: 5%;
  max-width: 50%;
}

.summary-filter-checker {
  display: flex;
  align-items: center;
}

#summary-details {
  font-size: large;
  margin-top: 0.5%;
  padding-left: 2%;
}

.summary-filter-checker label {
  margin-left: 5%;
  font-size: 80%;
}

@media screen and (max-width: 768px) {
  .dropdown_list {
    height: 40vh;
  }
}
