.calendar-summary {
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

.upper-info {
  display: flex;
  border-bottom: solid 1px #000000;
}

#summary-title {
  display: flex;
  gap: 5%;
  padding-left: 2%;
}

#summary-title p {
  display: flex;
  min-width: 100%;
  height: 40%;
  color: #908c8c;
  border-left: solid 1px #9999;
  padding-left: 4%;
  font-size: 50%;
  margin-top: 5%;
  padding-top: 2%;
}

#summary-filters {
  gap: 5%;
  position: absolute;
  right: 5%;
  max-width: 50%;
}

.summary-filter-checker {
  display: flex;
  align-items: center;
}

.cancelled {
  accent-color: #ff6a6a;
}

.completed {
  accent-color: #5372e7;
}

.upcoming {
  accent-color: #21bdca;
}

input[type="checkbox"] {
  color: #ffffff;
}

#summary-details {
  font-size: large;
  margin-top: 0.5%;
  padding-left: 2%;
}

.summary-filter-checker label {
  margin-left: 5%;
  font-size: 80%;
}

.bookingSession:active {
  background-color: #aaaa;
  color: #332e2e;
}

@media screen and (max-width: 768px) {
  .dropdown_list {
    height: 40vh;
  }

  .summary-filter-checker label {
    font-size: 70%;
  }
}

@media screen and (min-width: 319px) and (max-width: 424px) {
  .scheduling-container {
    display: flex;
    flex-direction: column;
    height: fit-content;
  }

  .toolbar {
    width: 100%;
    float: right;
  }

  .schedule-view {
    width: 100%;
    float: left;
  }

  .bookingSession {
    font-size: small;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 17%;
  }
  .summary-title .title {
    font-size: 100px;
  }
  .summary-title .content {
    font-size: 100px;
  }
}
