header .profilePicture {
    width: 45px;
    height: 45px;
    object-fit: cover;
    margin-left: 0;
    margin-right: 15px;
    border: 1px solid rgb(210, 210, 210);
}


.nav-link {
    color: black;
    background-color: white; 
    transition: background-color 0.3s, color 0.3s; 

}

.nav-link:hover {
    background-color: black;
    color: white;
}

