#root {
  background-color: #eaecee;
}

.scheduling-container {
  display: flex;
  gap: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
  color: #332e2e;
}

.fc-toolbar-chunk .fc-today-button.fc-button.fc-button-primary{
  background-color: #332e2e !important;
  opacity: 0.8 !important;
 
}

.fc-toolbar-chunk .fc-button-group button {
  background-color: #332e2e !important;
}


@media screen and (min-width: 319px) and (max-width: 424px) {
  .scheduling-container {
    display: flex;
    flex-direction: column;
   
    
  }

  .toolbar {
    width: 100%;
    float: right;
    
  }

  .schedule-view {
    width: 100%;
    float: left;
    margin-top: 20px;
  }

  .bookingSession {
    font-size: small;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 17%;
  }
  #summary-title {
    width: 40px;
    font-weight: 500;
  }
 
  #summary-title .title{
    font-size: 30px;
  }
  #summary-title .content{
    margin-top: 17px;
    font-size: 10px;
  }
  #summary-filters{
    font-size: small;
    display:grid;
    width: 70px;
    padding-bottom: 20px;
    height: 50px;
  }

}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .scheduling-container {
    display: flex;
    flex-direction: column;
  
  }

  .toolbar {
    width: 100%;
    float: right;
  }

  .schedule-view {
    width: 100%;
    float: left;
    margin-top: 20px;
  }

  .bookingSession {
    font-size: 15px;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  #summary-title {
    width: 50px;
    font-weight: 500;
  }
 
  #summary-title .title{
    font-size: 35px;
  }
  #summary-title .content{
    margin-top: 18px;
    font-size: 10px;
  }
  #summary-filters{
    display: flex;
    font-size: small;
    width: 180px;
    height: 60px;
    margin-top: 5px;
  }
  .fc-toolbar-chunk{
    font-size: 0.85rem !important;
  }
  .scheduling-container{
    
  }
  

}

@media screen and (min-width: 769px) and (max-width: 2560px) {
  .upper-info {
    display: flex;
    border-bottom: solid 1px #000000;
  }

  #summary-filters {
    display: flex;
    gap: 5%;
    position: absolute;
    right: 5%;
    width: fit-content;
    margin-top: 30px;
  }
 
  .summary-filter-checker {
    display: flex;
    align-items: center;
  }
 
  #summary-title .title{
    font-size: 40px;
    font-weight: 500;
  }
  #summary-title .content{
    margin-top: 20px;
    font-size: 15px;
  }
  .fc-toolbar-chunk{
    font-size: 18px;
  }
 
}
