.toolbar{
    width: 70%;
    height: 100%;
    font-size: medium;
}

.toolbar-description{
    width: 32.5%;
    background-color: #999;
}

.toolbar-description .description-user-profile{
    width: 100%; 
    height: 14.7%;
    display: flex;
    
}

.description-user-profile img{
    width: 7%;
    height: 7%;
    margin-top: 2.5%;
    left: 5%;
    margin-left: 3%;
}

.student-info{
    margin-left: 2%;
    width: 95%;
}

.student-info .subject{
    margin-left: 5%;
}
.student-info .status{
    display: flex;
}

.status .user-name{
    width: 70%;
    margin-left: 5%;
}
.status .current-time{
    width: 30%;
    font-size: 60%;
    margin-top: 2%;
    margin-left: 18%;
}

.description-time{
    width: 95%; 
    height: 53.2%; 
    margin-left: 6%;
    margin-top: 2%;
}

.description-time .time{
    display: flex;
}

.time .from{
    display: flex;
    font-size: 70%;
}

.time .to{
    display: flex;
    margin-left: 10%;
    font-size: 70%;
}

.input-content{
    width: 90%; 
    height: 80px;
    margin-left: 5%;
    border-radius: 10px;
}

.toolbar-buttons{
    width: 50%; 
    height: 32.1%; 
    margin-left: 6%;
    

}

