.toolbar{
    width: 100%;
    height: 100%;
    font-size: small;
}

.toolbar-description{
    width: 32.5%;
    /* height: 37.7%; */
}

.toolbar-description .description-user-profile{
    width: 100%; 
    height: 14.7%;
    display: flex;
    
}

.description-user-profile img{
    width: 5%;
    height: 5%;
    margin-top: 2.5%;
    left: 5%;
    margin-left: 3%;
}

.student-info{
    margin-left: 5%;
    width: 95%;
}

.student-info .subject{
    margin-left: 5%;
}
.student-info .status{
    display: flex;
}

.status .user-name{
    width: 70%;
    margin-left: 5%;
}
.status .current-time{
    width: 30%;
    font-size: 8px;
    margin-top: 2%;
}

.description-time{
    width: 95%; 
    height: 53.2%; 
}

.description-time .time{
    display: flex;
}

.time .from{
    display: flex;
}

.time .to{
    display: flex;
}

.description-time .input-content{
    width: 100%; 
    height: 100%;
}

.buttons{
    width: 95%; 
    height: 32.1%; 
}

