.completed-event-content {
    display: flex;
    height: 100%;
    padding: 0;
    position: relative;
    background-color: #EAEEFF;
}

.completed-vertical {
    border-left: 0.5rem solid #5372E7;
    height: 100%;
    margin-left: 2%;
    position: absolute;
    top: 0;
    left: -1.8%;
    border-radius: 3px 0 0 3px;
}

.completed-event-description {
    margin-left: 17%;
    max-height: 100%;
    color: #5372E7;
}

.completed-event-description h5 {
    font-weight: 600;
    position: absolute;
    top: 1rem;
    font-size: 0.5rem;
    margin: 0.1rem;
}

.completed-event-description b h5 {
    font-weight: 700;
    position: absolute;
    top: 0;
    font-size: 0.7rem;
}

.completed-event-description h6 {
    font-weight: 450;
    position: absolute;
    bottom: 0;
    margin: 0.2rem;
    font-size: 0.7rem;
}

.completed-event-description h5 h6{
    font-size: 1rem;

}

.fc-v-event {
    border: none;
}

